html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-left: 2rem;
}

.image {
    
    width: 50rem;
    height: 50rem;
    background-size: cover;
}